<form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
    <div class="form-row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <label for="descricao">Nome: <span class="text-danger">*</span></label>
            <input type="text"
                   class="form-control"
                   name="descricao"
                   id="descricao"
                   #descricao="ngModel"
                   [(ngModel)]="objeto.descricao"
                   required
                   popoverClass="popover-danger"
                   [ngbPopover]="campoObrigatorio"
                   triggers="mouseenter:mouseleave">
            <div *ngIf="descricao.touched && descricao.errors">
                <p class="text-danger" *ngIf="descricao.errors['required']">Este campo é obrigatório.</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="tipoAtivo_Id">Tipo Ativo: <span class="text-danger">*</span></label>
            <select
                    class="form-control"
                    name="tipoAtivo_Id"
                    id="tipoAtivo_Id"
                    #tipoAtivo_Id="ngModel"
                    [(ngModel)]="objeto.tipoAtivo_Id"
                    [class.form-control-loading]="loadingAtivo"
                    required
                    popoverClass="popover-danger"
                    [ngbPopover]="campoObrigatorio"
                    triggers="mouseenter:mouseleave">
                <option [ngValue]="undefined">Selecione</option>
                <option [ngValue]="item.id" *ngFor="let item of _tipoAtivo">{{ item.nome }}</option>
            </select>
            <div *ngIf="tipoAtivo_Id.touched && tipoAtivo_Id.errors">
                <p class="text-danger" *ngIf="tipoAtivo_Id.errors['required']">Este campo é obrigatório.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="tipoRisco_Id">Tipo Risco: <span class="text-danger">*</span></label>
            <select
                    class="form-control"
                    name="tipoRisco_Id"
                    id="tipoRisco_Id"
                    #tipoRisco_Id="ngModel"
                    [(ngModel)]="objeto.tipoRisco_Id"
                    [class.form-control-loading]="loadingRisco"
                    required
                    popoverClass="popover-danger"
                    [ngbPopover]="campoObrigatorio"
                    triggers="mouseenter:mouseleave">
                <option [ngValue]="undefined">Selecione</option>
                <option [ngValue]="item.id" *ngFor="let item of _tipoRisco">{{ item.nome }}</option>
            </select>
            <div *ngIf="tipoRisco_Id.touched && tipoRisco_Id.errors">
                <p class="text-danger" *ngIf="tipoRisco_Id.errors['required']">Este campo é obrigatório.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="tipoLiquidez_Id">Tipo Liquidez: <span class="text-danger">*</span></label>
            <select
                    class="form-control"
                    name="tipoLiquidez_Id"
                    id="tipoLiquidez_Id"
                    #tipoLiquidez_Id="ngModel"
                    [(ngModel)]="objeto.tipoLiquidez_Id"
                    [class.form-control-loading]="loadingLiquidez"
                    required
                    popoverClass="popover-danger"
                    [ngbPopover]="campoObrigatorio"
                    triggers="mouseenter:mouseleave">
                <option [ngValue]="undefined">Selecione</option>
                <option [ngValue]="item.id" *ngFor="let item of _tipoLiquidez">{{ item.nome }}</option>
            </select>
            <div *ngIf="tipoLiquidez_Id.touched && tipoLiquidez_Id.errors">
                <p class="text-danger" *ngIf="tipoLiquidez_Id.errors['required']">Este campo é obrigatório.</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
            <label for="taxaAdm">Taxa ADM: <span class="text-danger">*</span></label>
            <input type="text"
                   class="form-control"
                   name="taxaAdm"
                   id="taxaAdm"
                   #taxaAdm="ngModel"
                   [(ngModel)]="objeto.taxaAdm"
                   required
                   popoverClass="popover-danger"
                   [ngbPopover]="campoObrigatorio"
                   triggers="mouseenter:mouseleave"
                   mask="separator"
                   thousandSeparator="."
                   decimalMarker=","
                   suffix=" %">
            <div *ngIf="taxaAdm.touched && taxaAdm.errors">
                <p class="text-danger" *ngIf="taxaAdm.errors['required']">Este campo é obrigatório.</p>
                <p class="text-danger" *ngIf="taxaAdm.errors['mask']">Esse campo é incorreto</p>
            </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
            <label for="taxaPfee">Taxa PFEE: <span class="text-danger">*</span></label>
            <input type="text"
                   class="form-control"
                   name="taxaPfee"
                   id="taxaPfee"
                   #taxaPfee="ngModel"
                   [(ngModel)]="objeto.taxaPfee"
                   required
                   popoverClass="popover-danger"
                   [ngbPopover]="campoObrigatorio"
                   triggers="mouseenter:mouseleave"
                   mask="separator"
                   thousandSeparator="."
                   decimalMarker=","
                   suffix=" %">
            <div *ngIf="taxaPfee.touched && taxaPfee.errors">
                <p class="text-danger" *ngIf="taxaPfee.errors['required']">Este campo é obrigatório.</p>
                <p class="text-danger" *ngIf="taxaPfee.errors['mask']">Esse campo é incorreto</p>
            </div>
        </div>
    </div>
    <div class="form-row d-flex w-100 flex-wrap align-items-stretch">
        <p class="col-12 mb-1">Tributação: <span class="text-danger">*</span></p>
        <p class="col-12 mb-1"><small>Clique e arraste para selecionar as tributações aplicadas a esse produto</small></p>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="w-100 bg-light"
                 cdkDropList
                 #listOne="cdkDropList"
                 [cdkDropListData]="_tributacao"
                 [cdkDropListConnectedTo]="[listTwo]"
                 (cdkDropListDropped)="drop($event)">
                <div *ngIf="_tributacao.length == 0 && loadingTributacao" class="bg-light d-flex align-items-center justify-content-center flex-column" style="height: 300px;">
                    <span class="spinner-border spinner-border-sm"></span>
                    <p class="mt-1">Carregando...</p>
                </div>
                <div *ngIf="_tributacao.length > 0 && !loadingTributacao">
                    <div class="p-0 d-flex" *ngFor="let item of _tributacao" cdkDrag>
                        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                        <div class="d-flex align-items-center justify-content-center px-2 mr-2 bg-primary text-light border-bottom"> {{item.id}} </div>
                        <div class=" w-100 pl-3 py-1 border-bottom">
                            <p class="mb-0"><small><strong>{{item.descricao}}</strong></small></p>
                            <p class="mb-0"><small><strong>Alíquota: </strong> {{ item.aliquota | currency : 'BRL' : '' : '1.2-2' }}%</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="w-100 bg-light cdkDrag"
                 cdkDropList
                 #listTwo="cdkDropList"
                 [cdkDropListData]="objeto.tributacao"
                 [cdkDropListConnectedTo]="[listOne]"
                 (cdkDropListDropped)="drop($event)"
                 [class.empty]="objeto.tributacao.length == 0">
                <div class="p-0 d-flex" *ngFor="let item of objeto.tributacao" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    <div class="d-flex align-items-center justify-content-center px-2 mr-2 bg-primary text-light border-bottom"> {{item.id}} </div>
                    <div class=" w-100 pl-3 py-1 border-bottom">
                        <p class="mb-0"><small><strong>{{item.descricao}}</strong></small></p>
                        <p class="mb-0"><small><strong>Alíquota: </strong> {{ item.aliquota | currency : 'BRL' : '' : '1.2-2' }}%</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex p-0 mt-1">
        <div *ngIf="erro || form.invalid" class="m-0">
            <p class="text-red" *ngFor="let err of erro">{{err}}</p>
            <p *ngIf="form.invalid && erro.length == 0" class="text-red">Preencha todos os campos obrigatórios (*) corretamente para salvar</p>
        </div>
        <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar </button>
    </div>
</form>
<ng-template #campoObrigatorio>
    <div class="py-3 px-4"> Este campo é obrigatório </div>
</ng-template>