<form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
    <div class="form-row">
        <div class="form-group col-lg-6 col-md-8 col-sm-12 col-12">
            <label for="descricao">Nome: <span class="text-danger">*</span></label>
            <input type="text"
                   class="form-control"
                   name="descricao"
                   id="descricao"
                   #descricao="ngModel"
                   [(ngModel)]="objeto.descricao"
                   popoverClass="popover-danger"
                   [ngbPopover]="campoObrigatorio"
                   triggers="mouseenter:mouseleave"
                   required
                   pattern="\S(.*\S)?"
                   (change)="objeto.descricao = descricao.value.trim(); ">
            <div *ngIf="descricao.touched && descricao.errors">
                <p class="text-danger" *ngIf="descricao.errors['required']">Este campo é obrigatório.</p>
                <p class="text-danger" *ngIf="descricao.errors['pattern']">
                    <span *ngIf="descricao.errors['pattern']['requiredPattern'] == '^\\S(.*\\S)?$'">Remova os espaços antes e depois do texto.</span>
                </p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
            <label for="tipoAtivo_Id">Ativo: <span class="text-danger">*</span></label>
            <select
                    class="form-control"
                    name="tipoAtivo_Id"
                    id="tipoAtivo_Id"
                    #tipoAtivo_Id="ngModel"
                    [(ngModel)]="objeto.tipoAtivo_Id"
                    [class.form-control-loading]="loadingAtivo"
                    required
                    popoverClass="popover-danger"
                    [ngbPopover]="campoObrigatorio"
                    triggers="mouseenter:mouseleave">
                <option [ngValue]="undefined">Selecione</option>
                <option [ngValue]="item.id" *ngFor="let item of _tipoAtivo">{{ item.nome }}</option>
            </select>
            <div *ngIf="tipoAtivo_Id.touched && tipoAtivo_Id.errors">
                <p class="text-danger" *ngIf="tipoAtivo_Id.errors['required']">Este campo é obrigatório.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
            <label for="tipoRisco_Id">Risco: <span class="text-danger">*</span></label>
            <select
                    class="form-control"
                    name="tipoRisco_Id"
                    id="tipoRisco_Id"
                    #tipoRisco_Id="ngModel"
                    [(ngModel)]="objeto.tipoRisco_Id"
                    [class.form-control-loading]="loadingRisco"
                    required
                    popoverClass="popover-danger"
                    [ngbPopover]="campoObrigatorio"
                    triggers="mouseenter:mouseleave">
                <option [ngValue]="undefined">Selecione</option>
                <option [ngValue]="item.id" *ngFor="let item of _tipoRisco">{{ item.nome }}</option>
            </select>
            <div *ngIf="tipoRisco_Id.touched && tipoRisco_Id.errors">
                <p class="text-danger" *ngIf="tipoRisco_Id.errors['required']">Este campo é obrigatório.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
            <label for="tipoLiquidez_Id">Liquidez: <span class="text-danger">*</span></label>
            <select
                    class="form-control"
                    name="tipoLiquidez_Id"
                    id="tipoLiquidez_Id"
                    #tipoLiquidez_Id="ngModel"
                    [(ngModel)]="objeto.tipoLiquidez_Id"
                    [class.form-control-loading]="loadingLiquidez"
                    required
                    popoverClass="popover-danger"
                    [ngbPopover]="campoObrigatorio"
                    triggers="mouseenter:mouseleave">
                <option [ngValue]="undefined">Selecione</option>
                <option [ngValue]="item.id" *ngFor="let item of _tipoLiquidez">{{ item.nome }}</option>
            </select>
            <div *ngIf="tipoLiquidez_Id.touched && tipoLiquidez_Id.errors">
                <p class="text-danger" *ngIf="tipoLiquidez_Id.errors['required']">Este campo é obrigatório.</p>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start flex-wrap p-0 mt-1 px-2">
        <div *ngIf="erro || form.invalid" class="m-0">
            <p class="text-red" *ngFor="let err of erro" [innerHTML]="err | json"></p>
            <p *ngIf="form.invalid && erro.length == 0" class="text-red">Preencha todos os campos obrigatórios (*) corretamente para salvar</p>
        </div>
        <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> 
            <span>Salvar</span> 
        </button>
    </div>
</form>
<ng-template #campoObrigatorio>
    <div class="py-3 px-4"> Este campo é obrigatório </div>
</ng-template>