<div class="card">
    <div class="card-header d-flex align-items-center py-2 bg-primary">
        <span class="title-icon text-white">
            <i class="pi pi-wallet"></i>
        </span>
        <div>
            <h3 class="card-header-title text-white">Carteira Setup</h3>
            <p class="card-header-subtitle text-white"><small>Inclua um ou mais setups dessa empresa</small></p>
        </div>
    </div>
    <div class="card-body">
        <app-list-shared
                  [list]="objeto.carteiraSetup"
                  [filterLink]="false"
                  [filterTable]="false"
                  [paginator]="false"
                  [sortTable]="false"
                  [menuTable]="false"
                  [canCreate]="true"
                  [columns]="setupColumns"></app-list-shared>
        <div class="d-flex justify-content-between px-2 mt-auto">
            <button class="btn btn-step btn-step-prev mt-2" title="Anteiror" (click)="previous()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                <span class="btn-step-text">Anterior</span>
            </button>
            <button class="btn btn-step btn-step-next mt-2" title="Próximo" (click)="next()">
                <span class="btn-step-text">Próximo</span>
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>