<div class="card">
    <div class="card-header d-flex align-items-center py-2">
        <span class="title-icon">
            <i class="pi pi-wallet"></i>
        </span>
        <div>
            <h3 class="card-header-title">Carteira Setup</h3>
            <p class="card-header-subtitle"><small>Inclua um ou mais setups dessa empresa</small></p>
        </div>
    </div>
    <div class="card-body">
        <app-list-shared [createLink]="['cadastrar']"
                  [list]="rels"
                  [filterLink]="false"
                  [filterTable]="false"
                  [paginator]="false"
                  [sortTable]="false"
                  [menuTable]="false"
                  [canCreate]="true"
                  [tableLinks]="tableLinks"
                  [columns]="setupColumns"
                  [selectable]="true"></app-list-shared>
        <div class="d-flex justify-content-between px-2 mt-2">
            <button class="btn btn-step btn-step-prev" title="Anterior" (click)="previous()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                <span class="btn-step-text">Anterior</span>
            </button>
            <button class="btn btn-step btn-step-next" title="Próximo" (click)="next()">
                <span class="btn-step-text">Próximo</span>
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>