<div class="card">
    <div class="card-header d-flex align-items-center py-2"> <!--bg-primary-->
        <span class="title-icon"> <!--text-white-->
            <fa-icon [icon]="faPercent"></fa-icon>
        </span>
        <div>
            <h3 class="card-header-title">Percentual de Risco</h3> <!--text-white-->
            <p class="card-header-subtitle"><small>Percentual de risco da empresa</small></p> <!--text-white-->
        </div>
    </div>
    <div class="card-body">
        <app-list-shared [createLink]="['cadastrar']"
            [list]="objeto.percentualRisco"
            [filterLink]="false"
            [filterTable]="false"
            [paginator]="false"
            [sortTable]="false"
            [menuTable]="false"
            [canCreate]="true"
            [columns]="percentualRiscoColumns"
        ></app-list-shared>
    </div>
</div>