<div class="card">
    <div class="card-header d-flex align-items-center py-2">
        <span class="title-icon">
            <fa-icon [icon]="faFileCircleCheck"></fa-icon>
        </span>
        <div>
            <h3 class="card-header-title">Revisar dados</h3>
            <p class="card-header-subtitle"><small>Verifique os dados antes de salvar</small></p>
        </div>
    </div>
    <div class="card-body">
        <div class="card card-body d-inline-block bg-light content mb-1">
            <p>
                <strong>Razão Social: </strong> {{ objeto.nome }}
            </p>
            <p>
                <strong>CNPJ: </strong> {{ objeto.cnpj | mask : '00.000.000/0000-00'}}
            </p>
            <p>
                <strong>E-mail: </strong> {{ objeto.email }}
            </p>
        </div>
        <div class="card card-body d-inline-block bg-light content mb-1">
            <p class="mb-0 pl-2"><strong>Usuários</strong></p>
            <app-list
                          [list]="objeto.usuarios"
                          [filterLink]="false"
                          [filterTable]="false"
                          [paginator]="false"
                          [sortTable]="false"
                          [menuTable]="false"
                          [canCreate]="false"
                          [columns]="userColumns"></app-list>
        </div>
        <div class="card card-body d-inline-block bg-light content mb-1">
            <p class="mb-0 pl-2"><strong>Produtos</strong></p>
            <app-list
                          [list]="objeto.produtos"
                          [filterLink]="false"
                          [filterTable]="false"
                          [paginator]="false"
                          [sortTable]="false"
                          [menuTable]="false"
                          [canCreate]="false"
                          [columns]="produtoColumns"></app-list>
        </div>
        <div class="card card-body d-inline-block bg-light content mb-1">
            <p class="mb-0 pl-2"><strong>Carteira Setup</strong></p>
            <app-list
                          [list]="objeto.carteiraSetup"
                          [filterLink]="false"
                          [filterTable]="false"
                          [paginator]="false"
                          [sortTable]="false"
                          [menuTable]="false"
                          [canCreate]="false"
                          [columns]="setupColumns"></app-list>
        </div>
        <div class="d-flex justify-content-between px-2 mt-2">
            <button class="btn btn-primary" (click)="previous()">Anterior</button>
            <button class="btn btn-primary" (click)="salvar()">Salvar</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>