<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 1000px;">
        <div class="modal__content">
            <div class="modal__header pb-2">
                <h3 class="text-orange">Adicionar carteira setup</h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body mt-0">
                <app-form-carteira-setup
                    [objeto]="objeto"
                    [produtos]="produtos"
                    [loading]="loading"
                    [erro]="erro"
                    (sendData)="send($event)"
                ></app-form-carteira-setup>
            </div>
        </div>
    </div>
</div>