.main {
    padding: 0;
    z-index: 0;
    position: relative;
}
@media (min-width: 800px) {
    .main-content {
        max-width: calc(100vw);
        transition: .3s;
        margin-right: 0;
        margin-left: auto;
        /* margin-top: 60px; */
        min-height: calc(100vh - 26px);
    }

    .main-content.navigation-open {
        max-width: calc(100vw - 230px);
        margin-left: auto;
    }
}