.cdk-drop-list {
    position: relative;
    min-height: 300px;
}

.cdk-drop-list.cdkDrag::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    transform: translate(-50%, -50%);
    color: #00000073;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.cdk-drop-list.cdkDrag.empty::after {
    content: 'Solte aqui para selecionar';
    border: 1px #0000007a dashed;
}

.cdk-drop-list.cdkDrag.empty:hover::after {
    border: 1px #00000096 dashed;
    color: #00000096;
}

.cdk-drag {
    position: relative;
    z-index: 1;
    margin: 0;
}

.fade-in-right {
    animation: fade-in-right .5s forwards;
}

.fade-out-left {
    animation: fade-out-left .5s forwards;
}

.form-group {
    transition: .5s;
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        visibility: hidden;
        display: none;
        transform: translateX(-100%);
    }
    20% {
        display: block;
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);

    }
}

@keyframes fade-out-left {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
        display: block;
    }
    20% {
        display: none;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);

    }
}