<form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
    <div class="form-row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <label for="perfilInvestidor">Perfil Investidor: <span class="text-danger">*</span></label>
            <select
                    class="form-control"
                    id="perfilInvestidor"
                    name="perfilInvestidor"
                    [class.form-control-loading]="loadingPerfilInvestidor"
                    #_perfilInvestidor="ngModel"
                    [(ngModel)]="objeto.perfilInvestidor"
                    required>
                <option [ngValue]="undefined">Selecione</option>
                <option [ngValue]="item" *ngFor="let item of perfilInvestidor">{{ item.descricao }}</option>
            </select>
            <div *ngIf="_perfilInvestidor.touched && _perfilInvestidor.errors">
                <p *ngIf="_perfilInvestidor.errors['required']" class="text-danger">Este campo é obrigatório.</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="baixissimo">Baixissimo: <span class="text-danger">*</span></label>
            <input  type="text"
                    class="form-control"
                    id="baixissimo"
                    name="baixissimo"
                    mask="separator"
                    thousandSeparator="."
                    decimalMarker=","
                    suffix="%"
                    #baixissimo="ngModel"
                    [(ngModel)]="objeto.baixissimo"
                    required>
            <div *ngIf="baixissimo.touched && baixissimo.errors">
                <p *ngIf="baixissimo.errors['required']" class="text-danger">Este campo é obrigatório.</p>
                <p *ngIf="baixissimo.errors['mask']" class="text-danger">Este campo está inválido.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="baixo">Baixo: <span class="text-danger">*</span></label>
            <input  type="text"
                    class="form-control"
                    id="baixo"
                    name="baixo"
                    mask="separator"
                    thousandSeparator="."
                    decimalMarker=","
                    suffix="%"
                    #baixo="ngModel"
                    [(ngModel)]="objeto.baixo"
                    required>
            <div *ngIf="baixo.touched && baixo.errors">
                <p *ngIf="baixo.errors['required']" class="text-danger">Este campo é obrigatório.</p>
                <p *ngIf="baixo.errors['mask']" class="text-danger">Este campo está inválido.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="moderado">Moderado: <span class="text-danger">*</span></label>
            <input  type="text"
                    class="form-control"
                    id="moderado"
                    name="moderado"
                    mask="separator"
                    thousandSeparator="."
                    decimalMarker=","
                    suffix="%"
                    #moderado="ngModel"
                    [(ngModel)]="objeto.moderado"
                    required>
            <div *ngIf="moderado.touched && moderado.errors">
                <p *ngIf="moderado.errors['required']" class="text-danger">Este campo é obrigatório.</p>
                <p *ngIf="moderado.errors['mask']" class="text-danger">Este campo está inválido.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="arrojado">Arrojado: <span class="text-danger">*</span></label>
            <input  type="text"
                    class="form-control"
                    id="arrojado"
                    name="arrojado"
                    mask="separator"
                    thousandSeparator="."
                    decimalMarker=","
                    suffix="%"
                    #arrojado="ngModel"
                    [(ngModel)]="objeto.arrojado"
                    required>
            <div *ngIf="arrojado.touched && arrojado.errors">
                <p *ngIf="arrojado.errors['required']" class="text-danger">Este campo é obrigatório.</p>
                <p *ngIf="arrojado.errors['mask']" class="text-danger">Este campo está inválido.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="superArrojado">Super Arrojado: <span class="text-danger">*</span></label>
            <input  type="text"
                    class="form-control"
                    id="superArrojado"
                    name="superArrojado"
                    mask="separator"
                    thousandSeparator="."
                    decimalMarker=","
                    suffix="%"
                    #superArrojado="ngModel"
                    [(ngModel)]="objeto.superArrojado"
                    required>
            <div *ngIf="superArrojado.touched && superArrojado.errors">
                <p *ngIf="superArrojado.errors['required']" class="text-danger">Este campo é obrigatório.</p>
                <p *ngIf="superArrojado.errors['mask']" class="text-danger">Este campo está inválido.</p>
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <label for="hedge">Hedge: <span class="text-danger">*</span></label>
            <input  type="text"
                    class="form-control"
                    id="hedge"
                    name="hedge"
                    mask="separator"
                    thousandSeparator="."
                    decimalMarker=","
                    suffix="%"
                    #hedge="ngModel"
                    [(ngModel)]="objeto.hedge"
                    required>
            <div *ngIf="hedge.touched && hedge.errors">
                <p *ngIf="hedge.errors['required']" class="text-danger">Este campo é obrigatório.</p>
                <p *ngIf="hedge.errors['mask']" class="text-danger">Este campo está inválido.</p>
            </div>
        </div>
    </div>
    <div class="d-flex p-0 mt-3">
        <div *ngIf="erro || form.invalid" class="m-0">
            <p class="text-red" *ngFor="let err of erro">{{err}}</p>
            <p *ngIf="form.invalid && erro.length == 0" class="text-red">Preencha todos os campos obrigatórios (*) corretamente para salvar</p>
        </div>
        <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar </button>
    </div>
</form>
<ng-template #campoObrigatorio>
    <div class="py-3 px-4"> Este campo é obrigatório </div>
</ng-template>