<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 600px;">
        <div class="modal__content">
            <div class="modal__header pb-2">
                <h3 class="text-orange">Excluir registro</h3>
                <p class="mt-2">Tem certeza que deseja excluir esse registro? Ele não poderá ser recuperado.</p>
                <p>Todos os registros relacionados a esse planejamento, também serão removidos.</p>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body mt-0">
                <ul *ngIf="erro" class="m-0 col-lg-12 mt-1">
                    <li class="text-red" *ngFor="let err of erro">{{err}}</li>
                </ul>
                <div class="d-flex justify-content-center flex-wrap p-0 mt-1">
                    <button class="btn btn-grey  mr-1" (click)="voltar()"> Voltar</button>
                    <button class="btn btn-primary mr-0" (click)="send()"
                        [disabled]="loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Excluir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>