<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 700px;">
        <div class="modal__content">
            <div class="modal__header pb-2">
                <h3 class="text-orange">Adicionar investimento</h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body mt-0">
                <form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
                  
                    <div class="form-row">
                        <div class="form-group col-lg-4 col-md-4 col-12">
                            <label for="investimento">Investimento: <span class="text-danger">*</span></label>
                            <select class="form-control"
                                [class.form-control-loading]="loadingInvestimentos"
                                name="investimento" 
                                id="investimento"
                                #_investimento="ngModel"
                                [(ngModel)]="investimento"
                                [ngbPopover]="campoObrigatorio" 
                                popoverClass="popover-danger"
                                [disablePopover]="_investimento.errors == null" 
                                triggers="mouseenter:mouseleave"
                                required>
                                <option [ngValue]="undefined">Selecione</option>
                                <option [ngValue]="item" *ngFor="let item of investimentos">{{item.descricao}}</option>
                            </select>
                            <div *ngIf="_investimento.errors && _investimento.touched">
                                <p class="text-danger" *ngIf="_investimento.errors['required']">Esse campo é obrigatório</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                            <label for="rentabilidade">Rentabilidade Bruta: </label>
                            <input type="text"
                                   class="form-control"
                                   id="rentabilidade"
                                   name="rentabilidade"
                                   #rentabilidade="ngModel"
                                   [(ngModel)]="objeto.rentabilidade"
                                   mask="separator.5"
                                   thousandSeparator="."
                                   decimalMarker=","
                                   suffix="%" 
                                   [ngbPopover]="campoObrigatorio" 
                                   popoverClass="popover-danger"
                                   [disablePopover]="rentabilidade.errors == null" 
                                   triggers="mouseenter:mouseleave"
                                   (keyup.arrowup)="objeto.rentabilidade = arrowUp(rentabilidade.value)"
                                   (keyup.arrowdown)="objeto.rentabilidade = arrowDown(rentabilidade.value)" >
                                   <div *ngIf="rentabilidade.errors && rentabilidade.touched">
                                       <p class="text-danger" *ngIf="rentabilidade.errors['required']">Esse campo é obrigatório</p>
                                   </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                            <label for="rentabilidadeLiquida">Rentabilidade Líquida: </label>
                            <input type="text"
                                   class="form-control"
                                   id="rentabilidadeLiquida"
                                   name="rentabilidadeLiquida"
                                   #rentabilidadeLiquida="ngModel"
                                   [(ngModel)]="objeto.rentabilidadeLiquida"
                                   mask="separator.5"
                                   thousandSeparator="."
                                   decimalMarker=","
                                   suffix="%" 
                                   [ngbPopover]="campoObrigatorio" 
                                   popoverClass="popover-danger"
                                   [disablePopover]="rentabilidadeLiquida.errors == null" 
                                   triggers="mouseenter:mouseleave"
                                   (keyup.arrowup)="objeto.rentabilidadeLiquida = arrowUp(rentabilidadeLiquida.value)"
                                   (keyup.arrowdown)="objeto.rentabilidadeLiquida = arrowDown(rentabilidadeLiquida.value)" >
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                            <label for="custosTaxas">Custos/Taxas: </label>
                            <input type="text"
                                   class="form-control"
                                   id="custosTaxas"
                                   name="custosTaxas"
                                   #custosTaxas="ngModel"
                                   [(ngModel)]="objeto.custosTaxas"
                                   mask="separator.5"
                                   thousandSeparator="."
                                   decimalMarker=","
                                   suffix="%" 
                                   [ngbPopover]="campoObrigatorio" 
                                   popoverClass="popover-danger"
                                   [disablePopover]="custosTaxas.errors == null" 
                                   triggers="mouseenter:mouseleave"
                                   (keyup.arrowup)="objeto.custosTaxas = arrowUp(custosTaxas.value)"
                                   (keyup.arrowdown)="objeto.custosTaxas = arrowDown(custosTaxas.value)" >
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                            <label for="montanteAtual">Montante Atual: </label>
                            <input type="text"
                                   class="form-control"
                                   id="montanteAtual"
                                   name="montanteAtual"
                                   #montanteAtual="ngModel"
                                   [(ngModel)]="objeto.montanteAtual"
                                   mask="separator.5"
                                   thousandSeparator="."
                                   decimalMarker=","
                                   prefix="R$ " 
                                   [ngbPopover]="campoObrigatorio" 
                                   popoverClass="popover-danger"
                                   [disablePopover]="montanteAtual.errors == null" 
                                   triggers="mouseenter:mouseleave"
                                   (keyup.arrowup)="objeto.montanteAtual = arrowUp(montanteAtual.value)"
                                   (keyup.arrowdown)="objeto.montanteAtual = arrowDown(montanteAtual.value)" >
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                            <label for="sugerido">Montante Sugerido: </label>
                            <input type="text"
                                   class="form-control"
                                   id="sugerido"
                                   name="sugerido"
                                   #sugerido="ngModel"
                                   [(ngModel)]="objeto.sugerido"
                                   mask="separator.5"
                                   thousandSeparator="."
                                   decimalMarker=","
                                   prefix="R$ " 
                                   [ngbPopover]="campoObrigatorio" 
                                   popoverClass="popover-danger"
                                   [disablePopover]="sugerido.errors == null" 
                                   triggers="mouseenter:mouseleave"
                                   (keyup.arrowup)="objeto.sugerido = arrowUp(sugerido.value)"
                                   (keyup.arrowdown)="objeto.sugerido = arrowDown(sugerido.value)" >
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                            <label for="planoAcao">Plano de Ação: </label>
                            <input type="text"
                                   class="form-control"
                                   id="planoAcao"
                                   name="planoAcao"
                                   #planoAcao="ngModel"
                                   [(ngModel)]="objeto.planoAcao"
                                   mask="separator.5"
                                   thousandSeparator="."
                                   decimalMarker=","
                                   prefix="R$ " 
                                   [ngbPopover]="campoObrigatorio" 
                                   popoverClass="popover-danger"
                                   [disablePopover]="planoAcao.errors == null" 
                                   triggers="mouseenter:mouseleave"
                                   (keyup.arrowup)="objeto.planoAcao = arrowUp(planoAcao.value)"
                                   (keyup.arrowdown)="objeto.planoAcao = arrowDown(planoAcao.value)" >
                        </div>
                    </div>
                    <div class="d-flex p-0 mt-3">
                        <div *ngIf="erro || form.invalid" class="m-0">
                            <p class="text-red" *ngFor="let err of erro">{{err | json}}</p>
                            <p *ngIf="form.invalid && erro.length == 0" class="text-red">Preencha todos os campos obrigatórios (*) corretamente para salvar</p>
                        </div>
                        <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar </button>
                    </div>
                </form>
                <ng-template #campoObrigatorio>
                    <div class="py-3 px-4"> Este campo é obrigatório </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>