<div class="card">
    <div class="card-header d-flex align-items-center py-2">
        <span class="title-icon">
            <i class="pi pi-wallet"></i>
        </span>
        <div>
            <h3 class="card-header-title">Carteira Setup</h3>
            <p class="card-header-subtitle"><small>Inclua um ou mais setups dessa empresa</small></p>
        </div>
    </div>
    <div class="card-body">
        <app-list-shared
                  [list]="objeto.carteiraSetup"
                  [filterLink]="false"
                  [filterTable]="false"
                  [paginator]="false"
                  [sortTable]="false"
                  [menuTable]="false"
                  [canCreate]="true"
                  [columns]="setupColumns"></app-list-shared>
    </div>
</div>