<form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
    <div class="row d-flex flex-wrap align-items-stretch mb-2">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        </div>
        <div class="col-12 d-flex flex-wrap mt-2">
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-12 col-12 ps-0 pe-sm-2 pe-0">
                <div class="card card-body mb-2">
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="carteiraSetup" class="h6">Nome: <span class="text-danger">*</span></label>
                            <input type="text"
                                   class="form-control my-1"
                                   name="nome"
                                   id="nome"
                                   #nome="ngModel"
                                   [(ngModel)]="objeto.nome"
                                   placeholder="Digite para cadastrar nova carteira"
                                   [required]="true"
                                   pattern="\S(.*\S)?"
                                   (change)="objeto.nome = nome.value.trim();">
                            <div *ngIf="nome.touched && nome.errors">
                                <p class="text-danger error" *ngIf="nome.errors['required']">Esse campo é obrigatório</p>
                                <p class="text-danger" *ngIf="nome.errors['pattern']">
                                    <span *ngIf="nome.errors['pattern']['requiredPattern'] == '^\\S(.*\\S)?$'">Remova os espaços antes e depois do texto.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-body mb-2">
                    <div class="form-row mt-2 mb-2">
                        <div class="d-flex align-items-start justify-content-start flex-wrap col-12">
                            <p class="h6 me-3 w-100">Selecione o Risco</p>
                            <div *ngFor="let item of tipoRiscos" class="me-2 mb-2 d-flex align-items-center">
                                <input type="radio"
                                       class="mr-1 mt-1"
                                       name="tipoRisco"
                                       id="tipoRisco-{{item.id}}"
                                       #tipoRisco="ngModel"
                                       (ngModelChange)="riscoChange(tipoRisco)"
                                       [(ngModel)]="selectedRisco"
                                       [value]="item"
                                       [checked]="item.id == selectedRisco.id">
                                <label class="mb-0 ms-1" for="tipoRisco-{{item.id}}">{{item.nome}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row justify-content-center flex-column">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <label for="produto">Produto: <span class="text-danger">*</span></label>
                            <p-dropdown
                                        class="form-control novalidate"
                                        id="produto"
                                        name="produto"
                                        #_produto="ngModel"
                                        [options]="produtosRisco"
                                        [(ngModel)]="produto"
                                        optionLabel="descricao"
                                        optionDisabled="dataDesativado"
                                        [filter]="true"
                                        filterBy="descricao, tipoRisco.nome"
                                        [showClear]="true"
                                        placeholder="Selecione para adicionar">
                                <ng-template let-item pTemplate="item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span>{{item.descricao}}</span>
                                        <span class="flag flag-red"
                                              *ngIf="item.dataDesativado"
                                              [ngbPopover]="ativo"> Inativo </span>
                                        <ng-template #ativo>
                                            <div class="py-2 px-3">Desativado em {{item.dataDesativado | date : "dd/MM/yyyy" : 'UTC' }} </div>
                                        </ng-template>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <div class="mt-1 px-1">
                                <p class="text-danger" *ngIf="selectedRisco == undefined">Selecione um risco para continuar.</p>
                                <p class="text-danger" *ngIf=" selectedRisco != undefined && produtosRisco.length == 0">Nenhum produto disponível em {{selectedRisco.nome}}.</p>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <label for="percentual">Percentual: <span class="text-danger">*</span></label>
                            <app-input-number [valueInput]="percentual"
                                              (valueChanges)="percentual = $event;"
                                              [inputId]="'percentual'"
                                              [mask]="'separator'"
                                              suffix="%"
                                              [min]="selectedRisco.percentualDisponivel == 0 || produto == undefined ? 0 : 1"
                                              [max]="selectedRisco.percentualDisponivel"
                                              [required]="false"
                                              [showErrorMessage]="false"
                                              [placeholder]="selectedRisco.percentualDisponivel + '% disponível'"
                                              [allowNegativeNumbers]="false"
                                              [autoReplaceValue]="false"></app-input-number>
                            <div class="mt-1 px-1">
                                <p class="text-danger" *ngIf="!percentual">Informe o percentual</p>
                                <p class="text-danger" *ngIf="percentual > selectedRisco.percentualDisponivel">Valor máximo disponível é {{selectedRisco.percentualDisponivel}}%</p>
                            </div>
                        </div>
                        <div class="form-group align-items-end px-1">
                            <button type="button"
                                    class="btn btn-grey w-100"
                                    [disabled]="produto == undefined 
                                        || percentual.toString() == ''
                                        || percentual > selectedRisco.percentualDisponivel
                                        || percentual == 0"
                                    (click)="adicionarProduto()"> Adicionar </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-7 col-sm-12 col-12 px-0">
                <div class="card card-body mb-2">
                    <div>
                        <h6>Divisão da carteira: <span class="text-danger">*</span></h6>
                    </div>
                    <div>
                        <p-chart type="verticalBar"
                                 #chartProdutos
                                 [options]="optionsChartProduto"
                                 [data]="dataProduto"
                                 [height]="chartHeight"></p-chart>
                    </div>
                </div>
                <div class="card card-body mb-2" *ngIf="objeto.carteiraProdutoRel.length > 0">
                    <div class="col-12 px-2">
                        <p class="h6">Itens selecionados</p>
                        <div class="overflow-x-auto w-100">
                            <table class="table table-striped table-borderless table-editable">
                                <thead>
                                    <tr>
                                        <th class="bg-dark text-white font-weight-normal"></th>
                                        <th class="bg-dark text-white font-weight-normal">Id</th>
                                        <th class="bg-dark text-white font-weight-normal">Risco</th>
                                        <th class="bg-dark text-white font-weight-normal">Produto</th>
                                        <th class="bg-dark text-white font-weight-normal">Percentual</th>
                                        <th class="bg-dark text-white font-weight-normal" style="width: 80px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of objeto.carteiraProdutoRel; index as i" [class.selected]="item.produto.tipoRisco_Id == selectedRisco.id" class="tiporisco-{{item.produto.tipoRisco_Id}}">
                                        <td></td>
                                        <td>{{item.id }}</td>
                                        <td class="text-right ms-3"><span class="font-weight-bold">{{item.produto.tipoRisco.nome}} </span> | </td>
                                        <td>{{item.produto.descricao}}</td>
                                        <td style="width: 110px; height: 43px;">
                                            <div *ngIf="item.produto.id != 61">
                                                    <app-input-number #_percentual
                                                        [valueInput]="item.percentual"
                                                        (valueChanges)="item.percentual = $event; percentualChange(_percentual, item);"
                                                        [inputId]="'percentual-' + item.produto_Id"
                                                        [mask]="'separator'"
                                                        suffix="%"
                                                        [min]="1"
                                                        [required]="false"
                                                        [showErrorMessage]="false"
                                                        [placeholder]="selectedRisco.percentualDisponivel + '% disponível'"
                                                        [allowNegativeNumbers]="false"
                                                        [autoReplaceValue]="true"></app-input-number>
                                            </div>
                                            <span *ngIf="item.produto.id == 61">-</span>
                                        </td>
                                        <td class="td-action">
                                            <button *ngIf="item.produto.id != 61"
                                                    type="button"
                                                    class="btn-trash ml-auto d-block px-2 text-dark"
                                                    (click)="removeProduto(item)">
                                                <fa-icon [icon]="faTrashAlt" class="d-md-none d-block"></fa-icon>
                                                <span class="d-md-block d-none btn btn-dark">Excluir</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start p-0 mt-3">
        <div *ngIf="erro || form.invalid" class="m-0">
            <p class="text-red" *ngFor="let err of erro">{{err | json}}</p>
            <p *ngIf="form.invalid && erro.length == 0" class="text-red">Preencha todos os campos obrigatórios (*) corretamente para salvar</p>
        </div>
        <button class="btn btn-primary mr-0 ml-auto"
                [disabled]="form.invalid || loading || !formValid">
                <!--  || validatePercentualRisco() -->
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar </button>
    </div>
</form>
<ng-template #campoObrigatorio>
    <div class="py-3 px-4"> Este campo é obrigatório </div>
</ng-template>