<section class="page">
    <div class="page__header">
        <span class="title-icon">
            <fa-icon [icon]="faCity"></fa-icon>
        </span>
        <div class="mr-auto">
            <h3 class="page__header-title">Clientes</h3>
            <p class="page__header-subtitle"><small>Clientes cadastrados em <strong>{{empresaSelected.nome || "Empresa X"}}</strong></small></p>
        </div>
        <div class="ml-auto mb-0 col-xl-3 col-lg-4 col-md-5 col-sm-8 col-12 px-0">
            <app-empresa-select *ngIf="account && account.perfilAcesso_Id == 1"></app-empresa-select>
        </div>
    </div>
    <div class="page__body">
        <app-list-shared [createLink]="['planner']"
                         [onCreate]="create"
                         [canCreate]="true"
                         [list]="list"
                         [paginator]="true"
                         [filterLink]="false"
                         [filterTable]="true"
                         [sortTable]="true"
                         [menuTable]="true"
                         [columns]="columns"
                         [selectable]="true"
                         [tableLinks]="tableLinks"
                         [selectable]="true"></app-list-shared>
    </div>
</section>
<router-outlet></router-outlet>