<section class="page">
    <div class="page__header">
        <span class="title-icon">
            <fa-icon [icon]="faCity"></fa-icon>
        </span>
        <div>
            <h3 class="page__header-title">Clientes</h3>
            <p class="page__header-subtitle"><small>Clientes cadastrados em <strong>"Empresa X"</strong></small></p>
        </div>
    </div>
    <div class="page__body">
            <app-list-shared [createLink]="['cadastrar']"
                [list]="list"
                [paginator]="true"
                [filterLink]="true"
                [filterTable]="true"
                [sortTable]="true"
                [menuTable]="true"
                [canCreate]="true"
                [columns]="columns"
                [selectable]="true"
                [tableLinks]="tableLinks"
                [selectable]="true"
            ></app-list-shared>
        </div>
</section>
<router-outlet></router-outlet>