<section class="page">
    <div class="page__header">
        <span class="title-icon">
            <fa-icon [icon]="faCity"></fa-icon>
        </span>
        <div>
            <h3 class="page__header-title">Empresa</h3>
            <p class="page__header-subtitle"><small>Cadastrar empresa</small></p>
        </div>
    </div>
    <div class="page__body px-3">
        <form #form="ngForm">
            <div class="d-flex step-container">
                <p-steps [model]="items" [readonly]="false"
                         [(activeIndex)]="index"></p-steps>
                <div class="step-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </form>
    </div>
</section>