<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 700px; overflow: visible; max-height: 95vh">
        <div class="modal__content">
            <div class="modal__header pb-2">
                <h3 class="text-orange">Adicionar produto</h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body mt-0">
                <form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
                    <div class="mt-2 mb-2 px-2">
                        <p class="h6">Selecione o Risco</p>
                        <div class="d-flex align-items-center">
                            <div class="mx-2">
                                <input type="radio" class="mr-1 mt-1" name="tipoRisco" id="tipoRisco-0"
                                    #tipoRisco="ngModel" [(ngModel)]="selectedRisco" (ngModelChange)="setProdutos()"
                                    [value]="undefined" [checked]="!selectedRisco">
                                <label for="tipoRisco-0">Todos</label>
                            </div>
                            <div *ngFor="let item of tipoRiscos" class="mx-2">
                                <input type="radio" class="mr-1 mt-1" name="tipoRisco" id="tipoRisco-{{item.nome}}"
                                    #tipoRisco="ngModel" [(ngModel)]="selectedRisco" (ngModelChange)="setProdutos()"
                                    [value]="item" [checked]="item.id == selectedRisco?.id">
                                <label for="tipoRisco-{{item.nome}}">{{item.nome}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                            <label for="produto">Produto: <span class="text-danger">*</span></label>
                            <p-dropdown class="form-control" id="produto" name="produto" #produto="ngModel"
                                [class.form-control-loading]="loadingProdutos" [disabled]="loadingRiscos"
                                [options]="produtos" [(ngModel)]="objeto.produto" optionLabel="descricao"
                                optionDisabled="dataDesativado" [filter]="true" filterBy="nome" [showClear]="true"
                                placeholder="Selecione"
                                (ngModelChange)="objeto.produto_Id = produto.value ? produto.value.id : undefined"
                                [required]="true">
                                <ng-template let-item pTemplate="item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <p class="mb-0">{{item.descricao}}</p>
                                            <p class="mb-0"><strong>Risco:</strong> {{item.tipoRisco.nome}}</p>
                                        </div>
                                        <span class="flag flag-red" *ngIf="item.dataDesativado" [ngbPopover]="ativo">
                                            Inativo </span>
                                        <ng-template #ativo>
                                            <div class="py-2 px-3">Desativado em {{item.dataDesativado | date :
                                                "dd/MM/yyyy" : 'UTC' }} </div>
                                        </ng-template>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <div *ngIf="produto.touched && produto.errors">
                                <p class="text-danger " *ngIf="produto.errors['required']"><small>Esse campo é
                                        obrigatório </small></p>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                            <label for="custosTaxas">Custos/Taxas <small>(%)</small>: <span class="text-danger">*</span>
                            </label>
                            <app-input-number [valueInput]="objeto.custosTaxas"
                                (valueChanges)="objeto.custosTaxas = $event;" [inputId]="'custosTaxas'"
                                [mask]="'separator.2'" [suffix]="'%'" [max]="100" [min]="0" [required]="true"
                                [showErrorMessage]="true" [allowNegativeNumbers]="false" [autoReplaceValue]="true">
                            </app-input-number>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                            <label for="rentabilidade">Rentab. Bruta <small>(%)</small>: <span
                                    class="text-danger">*</span> </label>
                            <app-input-number [valueInput]="objeto.rentabilidade"
                                (valueChanges)="objeto.rentabilidade = $event;" [inputId]="'rentabilidade'"
                                [mask]="'separator.2'" [suffix]="'%'" [max]="100" [min]="0" [required]="true"
                                [showErrorMessage]="true" [allowNegativeNumbers]="false" [autoReplaceValue]="true">
                            </app-input-number>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                            <label for="planoAcao">Plano de Ação <small>(R$)</small>: <span class="text-danger">*</span>
                            </label>
                            <app-input-number [valueInput]="objeto.planoAcao"
                                (valueChanges)="objeto.planoAcao = $event;" [inputId]="'planoAcao'"
                                [mask]="'separator.2'" prefix="R$ " [min]="1" [required]="true"
                                [showErrorMessage]="true" [allowNegativeNumbers]="false" [autoReplaceValue]="true">
                            </app-input-number>
                        </div>
                    </div>
                    <div class="d-flex p-0 mt-3 align-items-center">
                        <div *ngIf="erro || form.invalid" class="m-0">
                            <p class="text-red" *ngFor="let err of erro">{{err | json}}</p>
                            <p *ngIf="form.invalid && erro.length == 0" class="text-red">Preencha todos os campos
                                obrigatórios (*) corretamente para salvar</p>
                        </div>
                        <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading || !produto">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar </button>
                    </div>
                </form>
                <ng-template #campoObrigatorio>
                    <div class="py-3 px-4"> Este campo é obrigatório </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>