<div class="card">
    <div class="card-header d-flex align-items-center py-2">
        <span class="title-icon">
            <fa-icon [icon]="faUsers"></fa-icon>
        </span>
        <div>
            <h3 class="card-header-title">Clientes</h3>
            <p class="card-header-subtitle"><small>Cadastrar um cliente para essa empresa</small></p>
        </div>
    </div>
    <div class="card-body">
        <app-list-shared 
            [createLink]="['cadastrar']"
            [list]="objeto.cliente"
            [filterLink]="true"
            [filterTable]="true"
            [paginator]="true"
            [sortTable]="true"
            [menuTable]="true"
            [canCreate]="true"
            [columns]="clientesColumn"
            [selectable]="true"
            [tableLinks]="tableLinks"
        ></app-list-shared>
        <div class="d-flex justify-content-between px-2 mt-auto">
            <button class="btn btn-step btn-step-prev mt-2" title="Anteiror" (click)="previous()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                <span class="btn-step-text">Anterior</span>
            </button>
            <button class="btn btn-step btn-step-next mt-2" title="Próximo" (click)="next()">
                <span class="btn-step-text">Próximo</span>
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>