<div *ngIf="list.length == 0 && !loading" class="p-2">
    <p>Nenhum registro encontrado. <a *ngIf="canCreate" [routerLink]="createLink">Clique aqui para adicionar</a></p>
</div>
<div class="content" *ngIf="list.length > 0">
    <p-table
             class="table"
             #dt
             [columns]="columns"
             [value]="list"
             [paginator]="paginator && list.length > 0"
             [rows]="10"
             [rowHover]="true"
             [rowsPerPageOptions]="[10, 25, 50]"
             responsiveLayout="scroll"
             [showCurrentPageReport]="true"
             [globalFilterFields]="filters"
             [(selection)]="selectedItems"
             [selectionMode]="'multiple'"
             (onRowSelect)="onRowSelect($event)"
             (onRowUnselect)="onRowUnselect($event)"
             (onHeaderCheckboxToggle)="onAllRowToggle($event)"
             [filterDelay]="100"
             currentPageReportTemplate="Exibindo {first} de {totalRecords} resultado(s)">
        <ng-template pTemplate="caption">
            <div class="header-box d-flex justify-content-between align-items-end flex-wrap w-100 px-0 py-0
                flex-lg-row flex-sm-column-reverse">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 p-0">
                    <p *ngIf="!loading">
                        <small> {{ list.length }} resultado(s) </small>
                    </p>
                    <p *ngIf="selectedItems.length > 0">
                        <small> ({{selectedItems.length}}) linhas selecionadas </small>
                    </p>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12 d-flex align-items-center justify-content-end flex-wrap flex-lg-row flex-sm-column-reverse px-0">
                    <div class="">
                        <a class="btn btn-primary w-100 d-block" *ngIf="canCreate" [routerLink]="createLink">Adicionar</a>
                    </div>
                    <div class="mr-2 d-sm-none d-md-block"></div>
                    <div *ngIf="list.length > 0 && filterTable"
                        class="p-input-icon-left col-lg-4 col-md-4 col-sm-11 col-9 my-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="form-control "
                            (input)="dt.filterGlobal(filter.value , 'contains')" #filter placeholder="Pesquisar" />
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns *ngIf="list.length > 0">
            <tr class="grey">
                <th>
                    <p-tableHeaderCheckbox *ngIf="list.length > 0 && selectable"></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="item.field" *ngFor="let item of columns">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="mr-auto" [innerHTML]="item.header"></span>
                        <p-sortIcon [field]="item.field" *ngIf="sortTable"></p-sortIcon>
                        <p-columnFilter [type]="item.filterType" [field]="item.field" [display]="item.filterDisplay" [matchMode]="item.filterMatchMode" [showMatchModes]="item.filterShowMatchMode" [showAddButton]="item.filterShowAddButton"></p-columnFilter>
                    </div>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
            <tr [class.selected]="item == selected" 
                [class.selectable]="selectable" 
                [class.selected-many]="selectedItems.includes(item)" 
                [pSelectableRow]="selectable == true ? item : null" 
                [pSelectableRowIndex]="selectable ? rowIndex : null">
                <td [attr.data-id]="item.id">
                    <p-tableCheckbox [value]="item" *ngIf="selectable"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    <p *ngIf="col.maskType == maskType.boolean; else comun">
                            <span class="flag" 
                                [class.flag-green]="item.ativo" 
                                [class.flag-red]="!item.ativo"
                                [ngbPopover]="ativo"
                                [disablePopover]="item.ativo"
                                triggers="mouseenter:mouseleave">
                                {{getCellData(item, col)}} 
                            </span>
                            <ng-template #ativo>
                                <div class="py-2 px-3">Desativado em {{item.dataDesativado | date : "dd/MM/yyyy" : 'UTC' }} </div>
                            </ng-template>
                    </p>
                    <ng-template #comun>
                        <p>
                            {{getCellData(item, col)}}
                        </p>
                    </ng-template>
                </td>
                <td class="td-actions">
                    <div class="actions" *ngIf="menuTable">
                        <button class="actions__toggle" [class.active]="item == selected">
                            <span class="icon icon-ellipsis" (click)="onRowSelect(item)">
                                <fa-icon [icon]="faEllipsisV"></fa-icon>
                            </span>
                            <span class="icon icon-times" (click)="onRowUnselect(item)">
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </span>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td></td>
                <td [attr.colspan]="columns.length" *ngIf="list.length == 0 && !loading"> Nenhum registro encontrado </td>
                <td [attr.colspan]="columns.length" *ngIf="loading"> Carregando... </td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
    <div class="actions__nav" *ngIf="tableLinks.length > 0">
        <div class="actions__nav-inner" *ngIf="selected">
            <a class="actions__nav-link"
               *ngFor="let item of tableLinks"
               [routerLink]="item.fullRoute">{{item.label}}</a>
        </div>
    </div>
</div>