.form-control-solucaoInicial,
.form-control-solucaoInicial:focus,
.form-control-solucaoInicial:hover,
.form-control-solucaoInicial:hover:focus {
    background-color: var(--primary)!important;
    border-radius: 0;
    color: #fff;
    outline: none!important;
    box-shadow: none!important
}

.table td.position-sticky, 
.table th.position-sticky {
    position: sticky;
    left: 0;
}

.table-editable .form-control {
    min-width: 110px;
}