.form-control-solucaoInicial,
.form-control-solucaoInicial:focus,
.form-control-solucaoInicial:hover,
.form-control-solucaoInicial:hover:focus {
    background-color: var(--primary) !important;
    background-image: none !important;
    border-radius: 0;
    color: #fff !important;
    outline: none !important;
    box-shadow: none !important
}

.table td.position-sticky,
.table th.position-sticky {
    position: sticky;
    left: 0;
}

.table-editable .form-control {
    min-width: 110px;
}

input#solucao_riscoAssumido_Atual,
input#solucao_montante_Atual {
    background-color: #104456;
    border: none;
}

tr.bg-light td {
    border: 1px #919090 solid;
    border-left-color: #ececed;
    border-right-color: #ececed;
    border-spacing: 1px;
    border-collapse: separate;
}

tr.bg-danger td {
    background-color: #f1d6d6 !important;
    border: 1px #ff0909 solid;
    border-left-color: #f1d6d6;
    border-right-color: #f1d6d6;
    border-spacing: 1px;
    border-collapse: separate;
}

tr.bg-danger td .form-control {
    background-color: #f1d6d6;
}

tr.bg-light td .form-control {
    background-color: #ececed;
}

tr.bg-danger td .form-control {
    background-color: #f1d6d6;
}