.form-control-solucaoInicial,
.form-control-solucaoInicial:focus,
.form-control-solucaoInicial:hover,
.form-control-solucaoInicial:hover:focus {
    background-color: var(--primary)!important;
    border-radius: 0;
    color: #fff!important;
    outline: none!important;
    box-shadow: none!important
}

.table td.position-sticky, 
.table th.position-sticky {
    position: sticky;
    left: 0;
}

.table-editable .form-control {
    min-width: 110px;
}
.form-control[readonly], 
.form-control.ng-touched.ng-invalid[readonly],
[novalidate] .form-control.ng-touched, [novalidate] .form-control.ng-touched.ng-valid, [novalidate] .form-control.ng-touched.ng-invalid, [novalidate].form-control.ng-touched, [novalidate].form-control.ng-touched.ng-valid, [novalidate].form-control.ng-touched.ng-invalid, .novalidate.form-control.ng-touched, .novalidate.form-control.ng-touched.ng-valid, .novalidate.form-control.ng-touched.ng-invalid {
    background-color: #fff;
    border: 1px solid #ced4da;
}

input#solucao_riscoAssumido_Atual, input#solucao_montante_Atual {
    background-color: #104456;
    border: none;
}