<div class="page">
    <div class="page__header">
        <span class="title-icon">
            <fa-icon [icon]="faHandHoldingDollar"></fa-icon>
        </span>
        <div class="mr-auto">
            <h3 class="page__header-title">Produtos</h3>
            <p class="page__header-subtitle"><small>Produtos cadastrados em <strong>{{empresaSelected.nome}}</strong></small></p>
        </div>
        <div class="ml-auto mb-0 col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 px-0">
            <app-empresa-select *ngIf="account && account.perfilAcesso_Id == 1"></app-empresa-select>
        </div>
    </div>
    <div class="page__body">
        <app-list-shared
            [createLink]="['cadastrar']"
            [onCreate]="create"
            [canCreate]="true"
            [list]="list"
            [filterLink]="false"
            [filterTable]="true"
            [paginator]="true"
            [sortTable]="true"
            [menuTable]="true"
            [columns]="columns"
            [tableLinks]="tableLinks"
            [selectable]="true"
            ></app-list-shared>
    </div>
</div>
<router-outlet></router-outlet>