<div class="card">
    <div class="card-header d-flex align-items-center py-2">
        <span class="title-icon">
            <fa-icon [icon]="faUsers"></fa-icon>
        </span>
        <div>
            <h3 class="card-header-title">Clientes</h3>
            <p class="card-header-subtitle"><small>Cadastrar um cliente para essa empresa</small></p>
        </div>
    </div>
    <div class="card-body">
        <app-list-shared
            [list]="objeto.cliente"
            [filterLink]="false"
            [filterTable]="false"
            [paginator]="false"
            [sortTable]="false"
            [menuTable]="false"
            [canCreate]="true"
            [columns]="clientesColumn"
        ></app-list-shared>
    </div>
</div>