<div class="card">
    <div class="card-header d-flex align-items-center py-2">
        <span class="title-icon">
            <i class="pi pi-wallet"></i>
        </span>
        <div>
            <h3 class="card-header-title">Carteira Setup</h3>
            <p class="card-header-subtitle"><small>Inclua um ou mais setups dessa empresa</small></p>
        </div>
    </div>
    <div class="card-body">
        <app-list-shared
            [createLink]="['cadastrar']"
            [onCreate]="create"
            [canCreate]="true"
            [list]="objeto.carteiraSetup"
            [filterLink]="false"
            [filterTable]="true"
            [paginator]="true"
            [sortTable]="true"
            [menuTable]="true"
            [canCreate]="true"
            [columns]="columns"
            [tableLinks]="tableLinks"
            [selectable]="true"
        ></app-list-shared>
        <div class="ms-auto">
            <p class="text-danger" *ngFor="let item of menuItems.erro">{{item}}</p>
        </div>
        <div class="d-flex justify-content-between px-2 mt-auto">
            <button class="btn btn-step btn-step-prev mt-2" title="Anteiror" (click)="previous()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                <span class="btn-step-text">Anterior</span>
            </button>
            <button class="btn btn-step btn-step-next mt-2" title="Próximo" [disabled]="loading" *ngIf="!isEditPage" (click)="next()">
                <span class="btn-step-text">Finalizar </span>
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>