<div class="card">
    <div class="card-header d-flex align-items-center py-2"> <!--bg-primary-->
        <span class="title-icon"> <!--text-white-->
            <fa-icon [icon]="faPercent"></fa-icon>
        </span>
        <div>
            <h3 class="card-header-title">Percentual de Risco</h3> <!--text-white-->
            <p class="card-header-subtitle"><small>Percentual de risco da empresa</small></p> <!--text-white-->
        </div>
    </div>
    <div class="card-body">
        <app-list-shared [createLink]="['cadastrar']"
            [list]="objeto.percentualRisco"
            [filterLink]="false"
            [filterTable]="false"
            [paginator]="false"
            [sortTable]="false"
            [menuTable]="false"
            [canCreate]="true"
            [columns]="percentualRiscoColumns"
        ></app-list-shared>
        <div class="d-flex justify-content-between px-2 mt-auto">
            <button class="btn btn-step btn-step-prev mt-2" title="Anteiror" (click)="previous()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                <span class="btn-step-text">Anterior</span>
            </button>
            <button class="btn btn-step btn-step-next mt-2" title="Próximo" (click)="next()">
                <span class="btn-step-text">Finalizar </span>
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>