<div class="card">
    <div class="card-header d-flex align-items-center py-2">
        <span class="title-icon">
            <fa-icon [icon]="faUsers"></fa-icon>
        </span>
        <div>
            <h3 class="card-header-title">Clientes</h3>
            <p class="card-header-subtitle"><small>Cadastrar um cliente para essa empresa</small></p>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="objeto.clientes.length == 0" class="d-flex flex-wrap justify-content-between align-items-center">
            <p>Nenhum cliente cadastrado</p>
            <a class="btn btn-primary" [routerLink]="['cadastrar']">Adicionar</a>
        </div>
        <p-table
                 *ngIf="objeto.clientes.length > 0"
                 class="table"
                 #dt
                 [columns]="clientesColumn"
                 [value]="objeto.clientes"
                 [paginator]="objeto.clientes.length > 0"
                 [rows]="10"
                 [rowHover]="true"
                 [rowsPerPageOptions]="[10, 25, 50]"
                 responsiveLayout="scroll"
                 [showCurrentPageReport]="true"
                 [globalFilterFields]="clientesFilters"
                 [(selection)]="clientesSelected"
                 selectionMode="multiple"
                 (onRowSelect)="onRowSelect($event)"
                 (onRowUnselect)="onRowUnselect($event)"
                 (onHeaderCheckboxToggle)="onAllRowToggle($event)"
                 [filterDelay]="100"
                 currentPageReportTemplate="Exibindo {first} de {totalRecords} resultado(s)">
            <ng-template pTemplate="caption">
                <div class="header-box d-flex justify-content-between align-items-end flex-wrap w-100 px-0">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 p-0">
                        <p *ngIf="!loading">
                            <small> {{ objeto.clientes.length }} resultado(s) </small>
                        </p>
                        <p *ngIf="clientesSelected.length > 0">
                            <small> ({{clientesSelected.length}}) linhas selecionadas </small>
                        </p>
                    </div>
                    <div class=" ml-auto mr-2">
                        <a class="btn btn-primary" [routerLink]="['cadastrar']">Adicionar</a>
                    </div>
                    <div *ngIf="objeto.clientes.length > 0"
                         class="p-input-icon-left col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-0 mb-0 pt-md-0 pt-sm-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="form-control "
                               (input)="dt.filterGlobal(filter.value , 'contains')" #filter placeholder="Pesquisar" />
                    </div>
                    <a class="btn btn-filter" [routerLink]="['filtrar']" *ngIf="objeto.clientes.length > 0">
                        <fa-icon [icon]="faFilter"></fa-icon>
                    </a>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns *ngIf="objeto.clientes.length > 0">
                <tr class="grey">
                    <th>
                        <p-tableHeaderCheckbox *ngIf="objeto.clientes.length > 0"></p-tableHeaderCheckbox>
                    </th>
                    <th [pSortableColumn]="item.field" *ngFor="let item of columns">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="mr-auto" [innerHTML]="item.header"></span>
                            <p-sortIcon [field]="item.field"></p-sortIcon>
                            <p-columnFilter [type]="item.filterType" [field]="item.field" [display]="item.filterDisplay"></p-columnFilter>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
                <tr [class.selected]="item == clienteSelected" [class.selected-many]="clientesSelected.includes(item)">
                    <td [attr.data-id]="item.id">
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td [pSelectableRow]="item" [pSelectableRowIndex]="rowIndex" *ngFor="let col of columns"> {{item[col.field]}} </td>
                    <td class="td-actions">
                        <div class="actions">
                            <button class="actions__toggle" [class.active]="item == clienteSelected">
                                <span class="icon icon-ellipsis" (click)="onRowSelect(item)">
                                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                                </span>
                                <span class="icon icon-times" (click)="onRowUnselect(item)">
                                    <fa-icon [icon]="faTimes"></fa-icon>
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td></td>
                    <td [attr.colspan]="columns.length" *ngIf="objeto.clientes.length == 0 && !loading"> Nenhum registro encontrado </td>
                    <td [attr.colspan]="columns.length" *ngIf="loading"> Carregando.. </td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>