<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 700px;">
        <div class="modal__content">
            <div class="modal__header pb-2">
                <h3 class="text-orange">Adicionar investimento</h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body mt-0">
                <form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                            <label for="investimento">Investimento: <span class="text-danger">*</span></label>
                            <select class="form-control"
                                [class.form-control-loading]="loadingInvestimentos"
                                name="investimento" 
                                id="investimento"
                                #investimento="ngModel"
                                [(ngModel)]="objeto.investimento"
                                [ngbPopover]="campoObrigatorio" 
                                popoverClass="popover-danger"
                                [disablePopover]="investimento.errors == null" 
                                triggers="mouseenter:mouseleave"
                                required>
                                <option [ngValue]="undefined">Selecione</option>
                                <option [ngValue]="item" *ngFor="let item of investimentos">{{item.descricao}}</option>
                            </select>
                            <div *ngIf="investimento.errors && investimento.touched">
                                <p class="text-danger" *ngIf="investimento.errors['required']">Esse campo é obrigatório</p>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                            <label for="custosTaxas">Custos/Taxas: <span class="text-danger">*</span> </label>
                            <app-input-number [valueInput]="objeto.custosTaxas"
                                (valueChanges)="objeto.custosTaxas = $event;"
                                [inputId]="'custosTaxas'"
                                [mask]="'separator.2'"
                                suffix="%"
                                [min]="0"
                                [max]="100"
                                [showErrorMessage]="true"
                                [allowNegativeNumbers]="false"
                                [required]="true"></app-input-number>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                            <label for="rentabilidade">Rentabilidade: <span class="text-danger">*</span></label>
                            <app-input-number [valueInput]="objeto.rentabilidade"
                                (valueChanges)="objeto.rentabilidade = $event;"
                                [inputId]="'rentabilidade'"
                                [mask]="'separator.2'"
                                suffix="%"
                                [min]="0"
                                [max]="100"
                                [showErrorMessage]="true"
                                [allowNegativeNumbers]="false"
                                [required]="true"></app-input-number>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                            <label for="montanteAtual">Montante Atual: </label>
                            <app-input-number [valueInput]="objeto.montanteAtual"
                                (valueChanges)="objeto.montanteAtual = $event;"
                                [inputId]="'montanteAtual'"
                                [mask]="'separator.2'"
                                prefix="R$ " 
                                [min]="0"
                                [showErrorMessage]="true"
                                [allowNegativeNumbers]="false"
                                [required]="true"></app-input-number>
                        </div>
                    </div>
                    <div class="d-flex p-0 mt-3">
                        <div *ngIf="erro || form.invalid" class="m-0">
                            <p class="text-red" *ngFor="let err of erro">{{err | json}}</p>
                            <p *ngIf="form.invalid && erro.length == 0" class="text-red">Preencha todos os campos obrigatórios (*) corretamente para salvar</p>
                        </div>
                        <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar </button>
                    </div>
                </form>
                <ng-template #campoObrigatorio>
                    <div class="py-3 px-4"> Este campo é obrigatório </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>