<div class="card">
    <div class="card-header d-flex align-items-center py-2">
        <span class="title-icon">
            <fa-icon [icon]="faUsers"></fa-icon>
        </span>
        <div>
            <h3 class="card-header-title">Usuários</h3>
            <p class="card-header-subtitle"><small>Cadastrar um usuário para essa empresa</small></p>
        </div>
    </div>
    <div class="card-body">
        <app-list 
            [list]="objeto.usuarios"
            [loading]="loading"
            [filterLink]="true"
            [filterTable]="true"
            [sortTable]="true"
            [paginator]="true"
        ></app-list>
    </div>
</div>